# Flask Configuration
FLASK_ENV=development  # Options: development, testing, production
FLASK_SECRET_KEY=your-secret-key-here

# Google Sheets Configuration
GOOGLE_CREDENTIALS_PATH=path/to/your/credentials.json
GOOGLE_SPREADSHEET_ID=your-spreadsheet-id

# Database Configuration
SQLALCHEMY_DATABASE_URI=sqlite:///whatssheet.db  # Example: postgresql://user:password@localhost/dbname 